* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-image: url(/simple-quote-page/assets/img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: flex-end;
}
main {
    max-width: 800px;
    height: auto;
    margin-top: 20%;
    margin-right: 10%;
    color: aliceblue;
}
p {
    text-align: right;
    font-size: 2rem;
}
@media (max-width: 1200px) {
    main {
        color: gray;
    }
}
