* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-image: url(/simple-quote-page/assets/img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}
main {
    width: 800px;
    height: 300px;
    margin-top: 20%;
    margin-right: 100px;
    color: aliceblue;
}
p {
    text-align: right;
    font-size: 2rem;
}
